<%- include("partials/head")%>
<body>
    <!--Header-->
    <header>
     <%- include("partials/navBar")%>
    </header>
    <!--MAin-->
    <main class="main-content bg-dark">
      <div class="container">
        <div class="text-center">
            
            <a href="/post">
                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/semana/BRMUTVUEYRH2NB7XZZVAO3G324.jpg" alt="Imagen" class="img-fluid" />
                <span class="overlay-text">Click en la foto</span>
              </a>
        </div>
      </div>
      </div>
  </main>

  <%- include("partials/footer")%>
    
</body>
</html>