
<nav class="navbar bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://pbs.twimg.com/media/ESwdU8WWsAIFtBX.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        FF- Foro
      </a>
    </div>
  </nav>